/* Header */

.NavBarWrapper {
  width: 100%;
  padding: 0;
  background-color: #F5F8FC;
  margin-bottom: 0;
  min-height: 50px;
  transition: height 0.3s;
  overflow: hidden;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(0,0,0,.16);
}

.NavBarWrapper.smaller {
  height: 45px;
}

.MobileNavBarWrapper {
  width: 100%;
  padding: 0;
  background-color: #F5F8FC;
  margin-bottom: 0;
  min-height: 50px;
  transition: height 0.3s;
  overflow: hidden;
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(0,0,0,.16);
}

.MobileNavBarWrapper.smaller {
  height: 45px;
}

.KurlHeader {
  padding: 0;
  height: 80px;
  background: url("../../../images/kurl-header@2x.png");
  background-repeat: repeat;
  background-size: auto 80px;
}

.KurlHeader.smaller {
  padding: 0;
  height: auto !important;
  background: url("../../../images/kurl-header@2x.png");
  background-repeat: repeat;
  background-size: auto 50px;
}

.MobileKurlHeader {
  padding: 0;
  height: 60px;
  background: url("../../../images/kurl-header@2x.png");
  background-repeat: repeat;
  background-size: auto 60px;
}

.MobileKurlHeader.smaller {
  padding: 0;
  height: auto !important;
  background: url("../../../images/kurl-header@2x.png");
  background-repeat: repeat;
  background-size: auto 30px;
}

.NavBarContainer {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* Header Logo */

.HeaderLogo-wrapper {
  margin-right: 20px;
}
.HeaderLogo a {
  display: flex;
  flex-direction: row;
}
.HeaderLogo .logo {
  background-image: url("../../../images/kurl_logo@2x.png");
  background-repeat: no-repeat;
  background-size: 52px 50px;
  width: 52px;
  height: 50px;
}

.HeaderLogo.smaller .logo  {
  background-image: url("../../../images/kurl_logo_small@2x.png");
  background-repeat: no-repeat;
  background-size: 32px 30px;
  width: 32px;
  height: 30px;
}
.HeaderLogo .text {
  font-size: 16px;
  font-weight: 600;
  color: #4A4A4A;
  margin-left: 10px;
}

.HeaderText {
  font-size: 26px;
  color: #326DE6;
  font-weight: 700;
  align-self: center;
}

.HeaderText.smaller {
  font-size: 16px;
  color: #326DE6;
  font-weight: 700;
  align-self: center;
}

.HeaderMobileText {
  font-size: 18px;
  color: #326DE6;
  font-weight: 700;
  align-self: center;
  padding: 30px;
  cursor: pointer;
}

.MobileHeaderText.smaller {
  font-size: 14px;
  color: #326DE6;
  font-weight: 700;
  align-self: center;
}

/* Nav Items */

.NavItem,
.NavItem a {
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  transition: color .15s;
  user-select: none;

  &:hover {
    color: #323232;
    text-decoration: none;
  }
}

.left-items {
  .NavItem {
    padding: 0 15px;
  }
}

/* ≥ 960px */
@media screen and (min-width: 60em) {

}

/* ≥ 1024px */
@media screen and (min-width: 64em) {

}

.MobileNav {
  position: fixed;
  background: #326de6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s,visibility .35s,height .35s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-100%);
}

.MobileNav-menu {
  background-color: #326de6;
  position: relative;
  width: 100%;
  z-index: 400;

  .closeIcon {
    z-index: 500;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding-bottom: 10px;
    margin-top: 10px;
  }
}

.MobileNav.is-open {
  transform: translateX(0);
  opacity: .9;
  visibility: visible;
  height: 100%;
  z-index: 300;
}

.MobileNav-bg {
  opacity: 0;
  background-color: rgba(0,0,0,.16);
  transition: all .1s ease-in-out;
}


.MobileNav-items {
  margin: 0;
  padding-top: 10px;
  width: 100%;
  background-color: #326de6;
  display: block;
  visibility: collapse;
  opacity: 0;
  transition: all .15s cubic-bezier(.25, 0, .25, 1.75), opacity .1s linear;
}

.MobileNav-item {
  position: relative;

  a {
    text-align: center;
    display: block;
    font-size: 26px;
    color: #FFFFFF;
    font-weight: medium;
    cursor: pointer;
    line-height: normal;
    transition: color .2s linear;
  }
}

.MobileNav-item:hover a {
  cursor: pointer;
  text-decoration: underline;
}

.MobileNav.is-open .MobileNav-items {
  visibility: visible;
  opacity: 1;
}
