$base-padding: 8px;

.SidebarFileTree {
  width: 100%;
  color: #4a4a4a;
  padding-top: $base-padding;
  padding-bottom: $base-padding;
  transition: all .2s ease;
  &:hover {
    color: #326DE6;
    cursor: pointer;
  }

  a {
    display: block;
    padding-top: $base-padding;
    color: #323232;

   &:visited{
     color: #4a4a4a;
   }

   &.active {
     font-weight: bold;
     color: #326DE6;
   }
  }

  @for $spacing from 0 through 4 {
    .depth-#{$spacing} {
      padding-left: ($base-padding * $spacing) + $base-padding;
    }
  }

}
