$base-padding: 8px;

.SidebarFileTree {
  color: #4a4a4a;
  transition: all .2s ease;
  &:hover {
    color: #326DE6;
    cursor: pointer;
  }

  .SidebarFileTree:nth-child(1) {
    padding-top: 12px;
  }

  a {
    display: block;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
    color: #323232;
    margin-left: 16px;

   &:visited{
     color: #4a4a4a;
   }

   &.active {
     font-weight: bold;
     color: #326DE6;
   }
  }

  .depth-1 {
    margin-left: 24px;
  }
  .depth-1:not(:first-child) {
    margin-top: 20px;
  }

  .depth-2 {
    margin-left: 0px;
  }

  .depth-3 {
    margin-left: 16px;
  }

  .sub-directory {
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
