.kurlContainer {
  margin: 0 auto 40px;
}

.AbsoluteFixedWrapper{
  max-width: 400px;
  position: absolute;
  top: 39px;
  right: 80px;

  &.FixedWrapper {
    position: fixed;
  }
}

.AddOn--wrapper {
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 13px 15px;
}

.left-content-wrap {
  max-width: 2000px;
  width: calc(100% - 400px);
}

.selected { 
  background: #F5F8FC;
  border: 1px solid #9AACD1;
}

.disabled { 
  opacity: 0.5;
  width: 140px !important;
}

.SelectVersion{
  position: relative;

  .css-2b097c-container {
    position: relative;
    box-sizing: border-box;
    width: 100px;
}

  .css-1hwfws3 {
    padding-left: 2px;
    padding-right: 0;
  }

  .css-yk16xz-control {
    border: none;
    background: none;
  }

  .css-tlfecz-indicatorContainer  {
    padding:0;
    padding-right: 18px;
  }

  .css-1gtu0rj-indicatorContainer  {
    padding:0;
    padding-right: 18px;
  }

  .css-26l3qy-menu {
    width: 117px;
  }

  .css-1pahdxg-control {
    border: none;
    background: none;
    box-shadow: none;
  }

  .css-f0arjc-control {
    border: none;
    background: none;
    box-shadow: none;
  }

  .css-1pahdxg-control:hover {
    border: none;
    background: none;
    box-shadow: none;
  }

  .css-1okebmr-indicatorSeparator {
    visibility: hidden;
  }

  .css-1uccc91-singleValue {
    color: #455566;
  }

  .css-109onse-indicatorSeparator {
    visibility: hidden;
  }

  .css-1fhf3k1-control {
    border: none;
    background: none;
    box-shadow: none;
  }

  .css-1fhf3k1-control:hover {
    border: none;
    background: none;
    box-shadow: none;
  }
}

.installationForm {
  border-radius: 4px;
  padding: 12px;
  background: #F5F8FC;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.MonacoEditor--wrapper {
  overflow: auto;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  height: 400px;
  
  .error-highlight {
    background:#FBEDEB;
    position: absolute;
  }

  .disabled-ace-editor {
    opacity: .5;
  }

  .ace_search {
    left: 0;
    right: auto;
  }
}


.configForm {
  border-top: 1px solid #C4C7CA;
  input[type="text"], input[type="number"] {
    padding-left: 10px;
    width: 100%;
    height: 30px;  
  }
}

.AdvancedOptions--wrapper {
  .OptionItem:not(:first-child) {
    margin-top: 10px;
  }
}

.AbsoluteErrorWrapper {
  position: absolute;
  left: 20px;
  top: 340px;
  display: flex;
  background: #FBECEA;
  border: 1px solid #BC4752;
  box-sizing: border-box;
  border-radius: 4px;
  width: 353px;
  height: 50px;
  text-align: center;
  align-items: center;
  z-index: 999;
  p {
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #BC4752;
  }
}

/* Media Queries */

/* ≥ 568px */
@media screen and (min-width: 35.5em) and (max-height: 700px) {
  .AbsoluteFixedWrapper.FixedWrapper {
    position:fixed;
    top: 142px;
    right: 80px;
    height: 450px;
  }
}

@media screen and (min-width: 35.5em) and (max-height: 850px) {
  .AbsoluteFixedWrapper.FixedWrapper {
    position:fixed;
    top: 142px;
    right: 80px;
    height: 450px;
  }
}

@media screen and (min-width: 35.5em) {
  .AbsoluteFixedWrapper.FixedWrapper {
    position:fixed;
    top: 142px;
    right: 80px;
  }
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .AbsoluteFixedWrapper.FixedWrapper {
    position:fixed;
    top: 142px;
    right: 80px;
  }
}

@media screen and (min-width: 48em) and (max-height: 850px) {
  .AbsoluteFixedWrapper.FixedWrapper {
    position:fixed;
    top: 142px;
    right: 80px;
    height: 450px;
  }
}

@media screen and (min-width: 48em) and (max-height: 700px) {
  .AbsoluteFixedWrapper.FixedWrapper {
    position:fixed;
    top: 142px;
    right: 80px;
    height: 450px;
  }
}
/* ≥ 960px */

@media screen and (min-width: 60em) {
  .AbsoluteFixedWrapper.FixedWrapper {
    position:fixed;
    top: 142px;
    right: 80px;
  }
}

@media screen and (min-width: 60em) and (max-height: 850px) {
  .AbsoluteFixedWrapper.FixedWrapper {
    position:fixed;
    top: 142px;
    right: 80px;
    height: 450px;
  }
}

@media screen and (min-width: 60em) and (max-height: 700px) {
  .AbsoluteFixedWrapper.FixedWrapper {
    position:fixed;
    top: 142px;
    right: 80px;
    height: 450px;
  }
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
  
}

/* ≥ 1280px */
@media screen and (min-width: 80em) {
  
}
