.SelectKubernetes--wrapper {
  position: relative;

  .css-1hwfws3 {
    padding:10px;
  }

  .css-yk16xz-control {
    border-radius: 20px;
  }

  .css-1pahdxg-control {
    border-radius: 20px;
  }
}

.AddOns--wrapper {
  border: solid 1px #DFDFDF;
  background-color: #ffffff;
  border-radius: 4px;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  transition: box-shadow .3s;

  &:nth-child(2n) {
    margin-right: 0;
  }

  .text-wrapper {
    font-weight: 600;
    color: #6D7278;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .dependeciesWrapper {
    height: 200px;
  }
}

.mobileAddOns--wrapper {
  border: solid 1px #DFDFDF;
  background-color: #ffffff;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: box-shadow .3s;

  .text-wrapper {
    font-weight: 600;
    color: #6D7278;
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.Wrapper .item{
  border-right: 1px solid #DFDFDF;
  line-height: 15px;
  
}

.addOnsBackground {
  background: linear-gradient(rgba(245,248,252,0) 0%, rgba(245,248,252,93) 100%);
  padding: 15px;
}

.AddOns--footer {
  background-color: #326DE6;

  .AddOns--background {
    background: url("../../images/kurl-footer@2x.png");
  }

  .title {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
  }

  p {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
  }
}

.Category--item {
  cursor: pointer;
  padding: 10px 10px;
 
  &:hover {
    background-color: #f8f8f8;
    color: #326DE6;
  }

  .icon.white-x-icon {
    position: relative;
    top: 2px;
  }
}

.Category--item.is-active,
.Category--item.is-active .Category--item:hover {
  background-color: #326DE6;
  color: #ffffff;
}

.SupportedVersionsList--wrapper {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  overflow: scroll;
  width: 300px;
  text-align: center;
  max-height: 140px;
}

.SupportedVersionsList--wrapper li::before {
  content: "";
  height: 6px;
  background: #326DE6;
  border-radius: 7px;
  display: inline-block;
  width: 6px;
  padding: 0;
  margin-right: 5px;
}

.category-item {
  border-right: 1px solid #DFDFDF;
  padding: 0 10px;

  &:last-child {
    border-right: none
  }
}

.roundBorder {
  border-radius: 50%;
  padding: 8px 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0,0,0,.50);
}

/* Media Queries */
@media screen and (min-width: 60em) {
  .AddOns--wrapper {
    flex: 1 1 calc(50% - 50px);
    max-width: calc(50% - 50px);
  }
  .fixedHeight {
    max-height: calc(65% - 50px);
  }
}

@media screen and (min-width: 80em) {
  .AddOns--wrapper {
    max-width: calc(50% - 50px);
    flex: 1 1 calc(50% - 50px);
  }
  .fixedHeight {
    max-height: calc(65% - 50px);	
   }
}