.u-color--tuna {
  color: #323232;
}

.u-color--tarawera {
  color: #073551;
}

.u-color--scorpion {
  color: #5B5B5B;
}

.u-color--vidaLoca {
  color: #65A61D;
}

.u-color--chestnut {
  color: #BC4752;
}

.u-color--astral {
  color: #337AB7;
}

.u-color--royalBlue {
  color: #326DE6;
}

.u-color--mineShaft {
  color: #303030;
}

.u-color--dustyGray {
  color: #9B9B9B;
}

.u-color--tundora {
  color: #4A4A4A;
}
.u-color--white {
  color: #FFFFFF;
}

.u-color--silverChalice {
  color: #B1B1B1;
}

.u-color--alabasterapprox {
  color: #F8F8F8;
}

.u-color--biscay {
  color: #163166;
}