.icon {
  background-image: url("../../images/main_spritesheet.svg");
  background-repeat: no-repeat;
  background-size: initial;
  display: inline-block;
  cursor: default;
  position: relative;
}
.icon.clickable {
  cursor: pointer;
}
.icon.u-kurl {
  background-position: 0px 0px;
  width: 31px;
  height: 30px;
}
.icon.u-questionMarkCircle {
  background-position: -1px -41px;
  width: 15px;
  height: 15px;
}
.icon.u-kubernetesIcon {
  background-position: -36px 0px;
  width: 31px;
  height: 30px;
}
.icon.u-weaveworksFlux {
  background-position: -1px -67px;
  width: 40px;
  height: 40px;
}
.icon.u-contour {
  background-position: -145px -67px;
  width: 39px;
  height: 39px;
}
.icon.u-rook {
  background-position: -51px -67px;
  width: 33px;
  height: 40px;
}
.icon.u-dockerRegistry {
  background-position: -98px -67px;
  width: 39px;
  height: 41px;
}
.icon.u-hamburgerMenu {
  background-position: -27px -42px;
  width: 17px;
  height: 12px;
}
.icon.u-closeIcon {
  background-position: -49px -41px;
  width: 14px;
  height: 14px;
}

