.add-wrapper {
  border: 1px solid #44BB66;
  border-radius: 6px;;
  background-color: #F0F9F2;
  padding: 12px;
}

.remove-wrapper {
  border: 1px solid #F7B500;
  border-radius: 6px;;
  background-color: #FEFAEC;
  padding: 12px;
}